body{
    background-color: #f3f3f3;
}
.info_body{
    width: 730px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}

h3{
    text-align: center;
}

.form_question{
    width:500px;
    margin:0 auto;
    overflow: hidden;
    text-align: right;
}

